- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	body.dop-body
		main.page-container
			section.main 
				h1.main__title Welcome to 
				.main__logo 
					img(src=img+"Logo.svg", alt="")
				p.main__text Global media product network in one application
				.flex 
					button.up(onclick="window.location.href = 'index_1.html';" class="btn") SIgn up
					button.in(onclick="window.location.href = 'index_2.html';" class="btn") SIgn in
				.main__absolute 
					.cirle__big 
					.cirle__small-1
						<svg width="113" height="48" viewBox="0 0 113 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="56.5" cy="-8.5" r="56" stroke="#67C9EA" stroke-dasharray="10 10"/></svg>
					.cirle__small-2
						<svg width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="56.5" cy="56.5" r="56" stroke="#67C9EA" stroke-dasharray="10 10"/></svg>
					.cirle__small-3
						<svg width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="56.5" cy="56.5" r="56" stroke="#67C9EA" stroke-dasharray="10 10"/></svg>
					.cirle__small-4
						<svg width="203" height="203" viewBox="0 0 203 203" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="101.5" cy="101.5" r="101" stroke="#02569C" stroke-dasharray="10 10"/></svg>
					.cirle__small-5 
						<svg width="113" height="113" viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="56.5" cy="56.5" r="56" stroke="#02569C" stroke-dasharray="10 10"/></svg>
					img(src=img+"klipartz 2.png", alt="")